@model Sebtum.Models.VMLogin
@using Sebtum.Models

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Вход</title>
</head>
<body>
    <form asp-controller="Access" asp-action="Login" method="post">
        <h1>Вход</h1>
        <input type="email" placeholder="Email" asp-for="Email" />
        <input type="password" placeholder="Password" asp-for="Password" />
        <label>
            <input type="checkbox" asp-for="KeepLoggedIn" />
            Оставаться в системе
        </label>
        <button type="submit">Вход</button>

        @if (ViewData["ValidateMessage"]!=null)
        {
           <br />
           <br/>
            <label>@ViewData["ValidateMessage"]</label>
        }
    </form>
</body>
</html>