<!DOCTYPE html>
<html>
<head>
  <title>My Page</title>
  <link rel="stylesheet" href="~/css/loader.css" /> 
</head>
<body>
  <div id="loader">
    <div id="box"></div>
    <div id="hill"></div>
  </div>
</body>
</html>